:root {
    --primary-color: #ED7D31;
    --secondary-color: #FFF7E9;
    --accent1-color: #5F9DF7;
    --accent2-color: #1746A2;
    --bkcolor: #180b5b;
    --bkcolor-transparent: rgba(32, 12, 128, 0.424);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {

    margin: 0;
}

header {
    display: block;
    background-color: var(--primary-color);
    color: var(--bkcolor);
    text-align: center;
    font-size: 36px;
}



header nav {
    font-size: 24px;
    background-color: #5F9DF7;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    color: #000;
    text-decoration: none;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;

}

nav a:hover {
    background-color: #f3f3f3;
    color: var(--primary-color);
}

main {
    width: 80%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

main h1 {
    font-size: 36px;
    text-align: center;
}

main ul a {
    display: flex;
    flex-direction: column;
    padding: 1px;
    margin-bottom: 10px;
    list-style-type: circle;

}

section {
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
}

section h2 {
    background-color: var(--primary-color);
    border-radius: 15px 15px 0px 0px;
    margin: 0;

}

footer {
    background-color: var(--primary-color);
    color: black;
    padding: 2rem;
    text-align: center;
}

.card {
    display: grid;
    min-width: 0;
    min-height: 0;
    justify-content: right;

}

.profile {
    width: auto;
    height: 200px;
    justify-self: end;
}