@media screen and (min-width: 740px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
        padding: 30px;
    }

    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 1rem;
        right: 1rem
    }


    #menu {
        display: none;

    }

    .navigation {
        flex-direction: row;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
}