:root {
    --primary-color: #FAF4D0;
    --secondary-color: #C14545;
    --accent1-color: #EA4C4C;
    --accent2-color: #703B3B;
    --bkcolor: #180b5b;
    --bkcolor-transparent: rgba(32, 12, 128, 0.424);
    --heading-font: "Merriweather", sans-serif;
    --body-font: "Lato";
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    width: 100%;
}

header {
    font-family: var(--heading-font);
    display: block;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-align: center;
    font-size: 32px;
}

header h1 {
    margin: 20px;
    padding: 40px;

}

h1::after {
    content: ' 𖤓';
    margin: 1px;
    padding: 5px;
    color: var(--secondary-color);
    height: 10px;
    width: 10px;

}

main {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    justify-content: center;
    gap: 1em;
    font-family: var(--body-font);
}

section {
    width: 500px;
}

section h2 {
    color: var(--accent2-color);
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

section ul {
    justify-self: center;
    font-size: 24px;
}

section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 100%;
}

footer {
    background-color: var(--primary-color);
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 26px;
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;
}