@media screen and (min-width: 740px){
    
    main {
        display: grid;
        grid-template-columns:;
        height: 400px;
        width: 100%;
        place-items: center;
        position: relative;
    }
     
    .hero {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;

    }
    .hero img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        grid-area: 1 / 1;
    }
    section {
        
    }
} 